@keyframes title-fade-up {
  from {
    opacity: 0;
    transform: translateY(75px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-fade-up .animate {
  animation: title-fade-up 1.5s ease-out;
}
