.home {
  background-image: url("https://john-react.wethemez.com/static/media/profile.7ad8c82f56b2a02d3bb9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}

.h1 {
  font-family: "Montserrat", sans-serif;
}

@keyframes home-fade-up {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-fade-up .animate {
  animation: home-fade-up 1.5s ease-out;
}
